* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

body {
  width: 100%;
  height: 100%;
}
.background {
  width: 100vw;
  height: 100vh;
  background-image: url(/img/FEVICON.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}
.background #buy {
  padding: 12px 25px;
  position: absolute;
  top: 85%;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 2px;
  border: none;
  color: #000000;
  border-radius: 6px;
  border: 1px solid black;
  background-color: white;
  transition: 0.5s;
}
.background #buy:hover {
  color: #c3c3c3;
  background-color: black;
  cursor: pointer;
}

